[submodule "dependencies/JadeMatrix/JadeMatrix-CMake-Modules"]
	path = dependencies/JadeMatrix/JadeMatrix-CMake-Modules
	url = ../JadeMatrix-CMake-Modules.git
[submodule "dependencies/onqtam/doctest"]
	path = dependencies/onqtam/doctest
	url = ../../onqtam/doctest.git
[submodule "dependencies/fmtlib/fmt"]
	path = dependencies/fmtlib/fmt
	url = ../../fmtlib/fmt.git
